<div class="jokenpo-panel">
    <div class="row">
        <div class="col">
            <app-hands-carousel
                [hands]="listHands"
                [carouselTitle]="this.firstPlayer.username"
                [carouselSubtitle]="this.FirstPlayerType"
                [selectedHand]="firstPlayerSelectedHand"
            ></app-hands-carousel>
        </div>
        <div class="col">
            <app-scoreboard
                [firstPlayer]="this.firstPlayer"
                [secondPlayer]="this.secondPlayer"
                scoreboardTitle="Jokenpo Match"
            ></app-scoreboard>
        </div>
        <div class="col">
            <app-hands-carousel
                [hands]="listHands"
                [carouselTitle]="this.secondPlayer.username"
                [carouselSubtitle]="this.secondPlayer.playerType"
                [selectedHand]="secondPlayerSelectedHand"
            ></app-hands-carousel>
        </div>
    </div>
    <div class="row">
        <div class="col display-center" *ngIf="IsFirstPlayerHuman; else instructionsComputer">
            <h3>Select a hand and click play to start a match</h3>
        </div>
        <ng-template #instructionsComputer>
            <div class="col display-center">
                <h3>Click play to watch a match</h3>
            </div>
        </ng-template>
    </div>
    <div class="row">
        <div class="col display-center">
            <button
                [disabled]="IsPlayButtonDisabled"
                mat-raised-button
                (click)="playMatch()"
                color="primary"
            >
                Play
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col display-center">
            <mat-button-toggle-group
                [(ngModel)]="firstPlayerSelectedHand"
                *ngIf="IsFirstPlayerHuman"
                class="jokenpo-panel__button-toggle"
                name="fontStyle"
                aria-label="Font Style"
            >
                <mat-button-toggle
                    *ngFor="let hand of listHands"
                    (click)="onClickHand(hand)"
                    [value]="hand"
                    [disabled]="disableActionsButton"
                >
                    <img
                        [src]="hand.avatarImgUrl"
                        class="jokenpo-panel__icon"
                        [alt]="'Hand image' + hand.name"
                    />
                    {{ hand.name }}</mat-button-toggle
                >
            </mat-button-toggle-group>
        </div>
    </div>
</div>
