@import '../../../scss/mixins.scss';

.jokenpo-panel {
    &__button-toggle {
        margin: 0 auto;
    }

    &__icon {
        width: 24px;
        height: auto;
    }

    @include for-phone-only {
        .col:nth-child(2) {
            order: -1;
            flex: 1 0 100%;
        }
    }
}
