@import '../../../scss/mixins.scss';

.jokenpo-panel {
    &__button-toggle {
        margin: 0 auto;
    }

    &__icon {
        width: 24px;
        height: auto;
    }
    .col {
        order: 2;
    }
    .col:nth-child(2) {
        order: 1;
    }
}
